html, body
{
  background-color: white !important;
  font-family: 'Open Sans', sans-serif;
}

/** The custom Buttons **/
.btn.btn-primary {
  transition: all .3s linear;
  display: inline-block;
  text-align: center;
  border-bottom: 3px solid;
  background-color: #ff6d2c !important;
  color: white;
  border-color: #15262b !important;
  text-decoration: none;
}

/** 
  * Prevent the content of a select media
  * form group from spilling out if the file
  * name is too large to fit.
*/
div.form-control span
{
    overflow: hidden;
    max-width: calc(100% - 115px);
    height: 100%;
}


.btn.btn-primary:hover {
  transition: all .3s linear;
  border-bottom: 5px solid;
}

.btn.btn-primary:focus
{
    border-style: none;
}

nav.navbar.navbar-custom
{
  background-color: #15262b !important;
  color: #ff6d2c;
}

nav.navbar .navbar-brand
{
  color: #ff6d2c;
}

div.jumbotron
{
  background-color: rgba(21,38,43, 0.9) !important;
  color: white;
}
div.jumbotron h2
{
  color: #ff6d2c;
}

.alert .alert-danger
{
  background-color: transparent !important;
}

.panel-default {border-style: solid;}
.panel > .panel-heading {
  background-color: #15262b;
  color: white;
  font-style:oblique;
}
.panel-default > .panel-body
{
  background-color: white !important;
}

.list-group { background-color: transparent; }
.list-group-item
{
  border-style: none;
  border-left-style: solid;
  border-left-color: #ff6d2c;
  border-left-width: 5px;
  margin-top: 10px;
}
.thumbnail {
  background-color: transparent;
  border-style: none;
}
